<div ng-controller="modules.pageeditor.controllers.dictionary as me">
    <div class="well container-fluid">
        <div class="row">
            <div class="col-md-7 pull-right text-right">
                <button element-button="default" element-text="添加" element-icon="glyphicon-plus-sign"
                        ng-click="me.create()"></button>
            </div>
        </div>
    </div>
    <table bs-table="me.list"
           data-toggle="table"
           data-url="/SaveTo/IO/Jsons/?category=dictionary"
           data-method="GET"
           data-id-field="Name"
           data-classes="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th data-field="Name" data-behavior="popalert" data-converter="conv" data-sortable="true">名称</th>
            <th data-template="true" data-title="操作" data-width="127px">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" data-action="edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-danger" data-action="drop">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
    </table>
</div>