<div ng-controller="modules.resource.controllers.list">
    <table bs-table="$stores.list"
           data-toggle="table"
           data-url="/Role/Roles"
           data-id-field="Id"
           data-classes="table table-hover table-condensed">
        <thead>
        <tr>
            <th class="col-xs-4" data-field="Name" data-sortable="true">Name</th>
            <th class="col-xs-5" data-field="Description">Description</th>
            <th data-field="Id" data-template="true" data-title="操作">
                <div class="btn-group-xs">
                    <button type="button" class="btn btn-default" bs-menu-button="true">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                    <!--<button type="button" class="btn btn-default" data-command="edit">-->
                    <!--<i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-danger" data-command="drop">-->
                    <!--<i class="glyphicon glyphicon-remove"></i>&nbsp;删除-->
                    <!--</button>-->
                </div>
            </th>
        </tr>
        </thead>
    </table>
    <ul bs-table-menu="true" class="dropdown-menu">
        <li data-item="details"><a>查看</a></li>
        <li data-item="edit"><a>编辑</a></li>
        <li data-item="delete"><a>删除</a></li>
    </ul>
</div>