<div class="container-fluid" ng-controller="modules.role.controllers.form as me">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">角色权限</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button element-button="primary" element-text="编辑" element-icon="glyphicon-pencil"></button>
    </div>
</div>