<div ng-controller="modules.role.controllers.list as me">
    <div class="well container-fluid">
        <div class="row">
            <div class="col-md-3 pull-left">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="关键字"
                           ng-model="me.list.params.searchPhrase"/>
                    <span element-addon="button" element-icon="glyphicon-search"
                          ng-click="me.list.reload()"></span>
                </div>
            </div>
            <div class="col-md-7 pull-right text-right">
                <button element-button="default" element-text="添加" element-icon="glyphicon-plus-sign"
                        ng-click="me.create()"></button>
            </div>
        </div>
    </div>
    <table bs-table="me.list"
           data-toggle="table"
           data-url="/Role/Roles"
           data-id-field="Id"
           data-classes="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th data-field="Name" data-sortable="true">名称</th>
            <th data-field="Description">描述</th>
            <th data-field="Id" data-template="true" data-title="操作">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" data-action="details">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                    <button class="btn btn-default" data-action="edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-default" data-action="member">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                    <button class="btn btn-default" data-action="auth">
                        <i class="glyphicon glyphicon-check"></i>
                    </button>
                    <button class="btn btn-danger" data-action="drop">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
    </table>
</div>