<div ng-controller="modules.system.controllers.userPassword as me">
    <div class="modal-header">
        <h3 class="modal-title">修改密码</h3>
    </div>
    <div class="modal-body container-fluid">
        <form class="form-horizontal container-fluid" role="form" name="form">
            <div class="form-group" ng-class="{'has-error':form.OldPassword.$invalid}">
                <label for="inputOldPassword">原密码:</label>
                <div>
                    <input id="inputOldPassword" class="form-control" type="password" placeholder="请输入原密码" name="OldPassword" ng-model="me.OldPassword"
                        required />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.NewPassword.$invalid}">
                <label for="inputNewPassword">新密码:</label>
                <div>
                    <input id="inputNewPassword" class="form-control" type="password" placeholder="请输入新密码" name="NewPassword" ng-model="me.NewPassword"
                        required />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.ConfirmPassword.$invalid}">
                <label for="inputConfirmPassword">确认新密码:</label>
                <div>
                    <input id="inputConfirmPassword" class="form-control" type="password" placeholder="请确认新密码" name="ConfirmPassword" ng-model="me.ConfirmPassword"
                        required ex-confirm="inputNewPassword" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close(me)" ng-disabled="form.$invalid">
            确定
        </button>
        <button class="btn btn-default" type="button" ng-click="$dismiss()">取消</button>
    </div>
</div>