<div ng-controller="modules.sample.controllers.test">
    <div class="navbar navbar-default navbar-fixed-top" style="margin: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand"><i class="glyphicon glyphicon-home"></i></span>
            </div>
            <div class="navbar-header">
                {{text}}
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="col-md-4">
            aaa
        </div>
        <div class="col-md-4">
            aaa
        </div>
        <div class="col-md-4">
            aaa
        </div>
        <div class="col-md-4">
            aaa
        </div>
    </div>
</div>